<section class="section">
  <h2>Create a new event</h2>

  <form action="/events/create" method="post" >

    <div class="field">
      <label>Name</label>
      <input type="text" name="name" value="{{fields.name}}">
    </div>

    <div class="field">
      <label>Type</label>
      <select name="type">
        <option value=""></option>
        <option value="party">Party</option>
        <option value="talk">Talk</option>
        <option value="presentation">Presentation</option>
      </select>
    </div>

    <div class="field">
      <label>Date</label>
      <input type="date" name="date" value="{{fields.date}}">
    </div>


    <div class="field">
      <label>Description</label>
      <textarea name="description" value="{{fields.description}}" cols="80" rows="10" maxlength="500" wrap="hard" placeholder="Limit input to 500 characters"></textarea>
    </div>

    <div class="field">
      <button class="button">Submit</button>
      {{#if message}}
      <p class="validation">{{message}}</p>
      {{/if}}
    </div>

  </form>
</section>
