<section class="section">
  <h2>Upload a new Image</h2>

  <form action="/images/create" method="post" enctype="multipart/form-data">

    <div class="field">
      <label>Title</label>
      <input type="text" name="title" value="{{fields.title}}">
    </div>

    <div class="field">
      <label>Category</label>
      <select name="category">
        <option value=""></option>
        <option value="people">People</option>
        <option value="calendar">Calendar</option>
        <option value="activity">Activity</option>
      </select>
    </div>

    <div class="field">
      <label>Image</label>
      <input type="file" name="photo">
    </div>

    <div class="field">
      <button>Submit</button>
      {{#if message}}
      <p class="validation">{{message}}</p>
      {{/if}}
    </div>

  </form>
</section>
