<section class="section images">
  <h2>Images</h2>
  <div class="nav">
    <a href="/images/create">Create</a>
  </div>
  <ul class="card-container">
    {{#each images}}
    <li class="card">
      <h3>{{this.title}}</h3>
      <p>{{this.category}}</p>
      <img src="{{this.url}}" alt="{{this.title}}">
    </li>
    {{/each}}
  </ul>
  
</section>