<section class="section resources">
  <h2>Resources</h2>
    <ul>
      {{#each resources}}
        <li>
          <a class="{{this.category}}" href="{{this.url}}" target='_blank'>{{this.title}}</a>
        </li>
      {{/each}}
    </ul>
</section>