<section class="section resources">
  <h2>Resources</h2>
  <div class="nav">
    <a class="button" href="/resources/create">New resource</a>
  </div>
  <ul>
    {{#each resources}}
      <li>
        <a class="icon icon-{{this.category}}" href="{{this.url}}" target='_blank'>{{this.title}}</a>
        <form class="delete" action="/resources/{{this.id}}/delete" method="POST">
          <button class="button-icon icon-trash"></button>
        </form>
      </li>
    {{/each}}
  </ul>
</section>
