<section class="section">
  <h2>Create a new resource</h2>

  <form action="/resources/create" method="post">

    <div class="field">
      <label>Title</label>
      <input type="text" name="title" value="{{fields.title}}">
    </div>

    <div class="field">
      <label>URL</label>
      <input type="text" name="url">
    </div>

    <div class="field">
      <label>Category</label>
      <select name="category">
        <option value="">Resource category:</option>
        <option value="documentation">Documentation</option>
        <option value="exercises">Exercises</option>
        <option value="events">Events</option>
      </select>
    </div>

    <div class="field">
      <button>Submit</button>
      {{#if message}}
      <p class="validation">{{message}}</p>
      {{/if}}
    </div>

  </form>
</section>
