<head>
  <title>Barbara</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <link rel="stylesheet" href="/students/barbara/style.css">
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAVrTjAJnT8AD///8AkIXyALu0+gDNx/wA0c36AEQ2YwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiAAAAAAAAIISgAAAAAAIISEoAAAAAAgSEhgAAAAAgSEhIYAAAACCEhISgAAACIKIKIKIAACESESESESAAIdUVUVUZ4AAh1VVVVNXgAAIdVVVU3gAAAh1VVVVeAAAAId1VXeAAAAACId3iAAAAAAACIgAAAD//wAA/j8AAPwfAAD4DwAA+A8AAPAHAADwBwAA4AMAAMABAADAAQAAwAEAAOADAADgAwAA8AcAAPgPAAD+PwAA"
    rel="icon" type="image/x-icon" />
</head>

<body>

  <header id="site-header" role="banner">
    <div class="nav-bar container">
      <nav>
        <div class="nav-homepage">
          <h3>Cohort 08 2018</h3>
          <a href="/" class="homepage btn-navigation">♥ Homepage</a>
        </div>
        <div class="links-pages">
          <a href="/students/barbara/">About Barbara</a>
          <a href="/students/barbara/interests">Interests</a>
          <a href="/students/barbara/experiments">Experiments</a>
        </div>
        <div class="quick-nav">
          <label for="">Quick Jump</label>
          <div class="search">
            <input type="text" placeholder="Students">
            <div class="search-results"></div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main id="site-main">
    <section class="jumbotron">
      <h2>Barbara</h2>
      <h3>Web Developer from <em>Germany</em></h3>
    </section>

    <section class="interests">
      <h3>Interests</h3>
      <div class="wrapper">
        <div class="interest">
          <img src="https://picsum.photos/300/200" alt="">
          <h3>comics</h3>
        </div>
        <div class="interest">
          <img src="https://picsum.photos/299/200" alt="">
          <h3>anime</h3>
        </div>
        <div class="interest">
          <img src="https://picsum.photos/298/200" alt="">
          <h3>gin clubs</h3>
        </div>
      </div>
    </section>

    

  <footer id="site-footer" role="contentinfo">
    <div class="social-media">
      <a class="social-linkedin" href="http://www.linkedin.com/in/barbara-koehler-9331011b" target="_blank">LinkedIn</a>
      <a class="social-instagram" href="http://www.instagram.com/barkrrr" target="_blank">Instagram</a>
      <a class="social-github" href="https://github.com/barkrrr/" target="_blank">Github</a>
    </div>
  </footer>

  <script src="/students/barbara/main.js"></script>
</body>
