<head>
  <title>Axel-Experiments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/students/axel/style.css">
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>
<body>
  <header id="site-header">
    <nav class="site-nav container">
      <h1>Cohort 08 2018</h1>
      <div>
        <a href="/" class="button button-inverted">Homepage</a>
        <a href="/students/axel" class="button button-inverted">Axel</a>
      </div>
    </nav>
  <header>
    <div class="search">
    <label for="uname">Student:</label>
    <div class="input-student">
      <input type="text">
      <div class="search-results">
      </div>
    </div>
  </div>
  <main>
    <section>
      <div>
        <h3>Interests</h3>
        <ul class="interests">
          <li>
            <h4>Games</h4>
            <li><img src="https://image.flaticon.com/icons/svg/311/311281.svg" alt="Games-Icon"> </li>
            <p>A video game is an electronic game that involves interaction with a user interface to generate visual feedback on a video device such as a TV screen or computer monitor. The word video in video game traditionally referred to a raster display device, but as of the 2000s, it implies any type of display devicethat can produce two- or three-dimensional images. Some theorists categorize video games as an art form, but this designation is controversial.</p>
          </li>
          <li>
            <h4>Cinema</h4>
            <li><img src="https://image.flaticon.com/icons/svg/311/311282.svg" alt="Cinema-Icon"></li>
          </li>
          <li>
            <h4>Technology</h4>
            <li><img src="https://image.flaticon.com/icons/svg/311/311280.svg" alt="Technology-Icon"></li>
          </li>
          <li>
            <h4>Coffee</h4>
            <li><img src="https://image.flaticon.com/icons/svg/311/311288.svg" alt="Coffee-Icon"></li>
          </li>
        </ul>
      </div>
    </section>
  </main>
<body>
  <footer id="site-footer" role="contentinfo">
    <div class="social-media container">
      <a href="https://www.linkedin.com/in/axelgarciaroige/"><img src="https://image.flaticon.com/icons/svg/185/185964.svg"
          alt="linkedin-icon"></a>
      <a href="https://www.facebook.com/profile.php?id=100009889158385"><img src="https://image.flaticon.com/icons/svg/185/185981.svg"
          alt="facebook-icon"></a>
      <a href="https://www.pinterest.es/axelgarcia949/"><img src="https://image.flaticon.com/icons/svg/185/185986.svg"
          alt="pinterest-icon"></a>
    </div>
    <p class="container">Created on: 08/30/2018</p>
  </footer>
<script type="text/javascript" src="/students/axel/main.js"></script>
</body>